{% extends "base.html" %}
{% block title %}Monthly Income Statements{% endblock %}
{% block content %}
  <a href="/">Back to Front</a>
  <div class="tabs">
    <ul>
      <li><a href="#tabs-balance-sheet">Balance Sheet</a></li>
      <li><a href="#tabs-income-stms">Income Statements</a></li>
    </ul>
    <div id="tabs-balance-sheet">
      {{ balance_sheet }}
    </div>
    <div id="tabs-income-stms">
      <div class="tabs">
        <ul>
        {% for year in years %}
          <li><a href="#tabs-{{ loop.index }}">{{ year }}</a></li>
        {% endfor %}
        </ul>
        {% for stm in monthly_income_stms %}
        <div id="tabs-{{ loop.index }}">
          {{ stm }}
        </div>
        {% endfor %}
        </div>
      </div>
  </div>

{% endblock %}
